<div class="print-wrapper" [ngStyle]="{'direction': direction}">
  <div mat-dialog-title>
    <div class="mo-flex mo-justify-between">
      <small class="mo-text-muted mo-text-xs">
        {{'receiptPrint.printedBy' | translate}} {{user.userName}}
      </small>
      <small class="mo-text-muted mo-text-xs">
        {{'receiptPrint.createdAt' | translate}} {{today | date:'MMM d, y, h:mm a'}}
      </small>
    </div>
    <div class="img-logo" [ngStyle]="{'background-image': 'url('+ logo +')'}"></div>
    <h5 class="mo-font-bold mo-text-center">{{'receiptPrint.paymentRed' | translate}}</h5>
    <h6 class="mo-font-bold mo-text-center mo-text-info-500">{{'receiptPrint.membershipUpgrade' | translate}}
    </h6>
  </div>

  <mat-dialog-content>
    @if (receiptFormat === 'SMALL') {
      <ul class="data-list-small">
        <li>
          <label>{{'receiptPrint.memContractNo' | translate }}</label>
          <span>{{data.memberContractNo}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.memAccessCode' | translate }}</label>
          <span>{{data.memberCode}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.memName' | translate}}</label>
          <span>{{data.memberName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.memPhone' | translate}}</label>
          <span>{{data.memberPhoneNumber}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.packageBeforeUpgrade' | translate}}</label>
          <span>{{data.prevPackageName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.packageAfterUpgrade' | translate}}</label>
          <span>{{data.packageName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.salesName' | translate}}</label>
          <span>{{data.salesPersonName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.amountPaidCash' | translate}}</label>
          <span>{{data.amount}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.amountPaidVisa' | translate}}</label>
          <span>{{data.amountVisa}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.paymentDate' | translate}}</label>
          <span>{{data.paymentDate | date:'MMM d, y, h:mm a'}}</span>
        </li>
      </ul>
    }


    @if (receiptFormat === 'LARGE') {
      <ul class="data-list-wide">
        <li>
          <label>{{'receiptPrint.memContractNo' | translate }}</label>
          <span>{{data.memberContractNo}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.memAccessCode' | translate }}</label>
          <span>{{data.memberCode}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.memName' | translate}}</label>
          <span>{{data.memberName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.memPhone' | translate}}</label>
          <span>{{data.memberPhoneNumber}}</span>
        </li>
        <li class="separator"></li>
        <li>
          <label>{{'receiptPrint.packageBeforeUpgrade' | translate}}</label>
          <span>{{data.prevPackageName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.packageAfterUpgrade' | translate}}</label>
          <span>{{data.packageName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.salesName' | translate}}</label>
          <span>{{data.salesPersonName}}</span>
        </li>
        <li class="separator"></li>
        <li>
          <label>{{'receiptPrint.amountPaidCash' | translate}}</label>
          <span>{{data.amount}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.amountPaidVisa' | translate}}</label>
          <span>{{data.amountVisa}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.paymentDate' | translate}}</label>
          <span>{{data.paymentDate | date:'mediumDate'}}</span>
        </li>
      </ul>
    }


    <!-- <div>
    <small>
      <p *ngFor="let r of rules" class="white-space-pre-line"><span
      class="mo-font-bold d-block">{{r.title}}</span>{{r.englishDescription}}</p>
    </small>
  </div> -->

  @if (receiptFormat === 'LARGE') {
    <ul class="signature">
      <li>
        {{'receiptPrint.memSign' | translate}}
      </li>
      <li>
        {{'receiptPrint.salesSign' | translate}}
      </li>
    </ul>
  }


  <hr>
    <p class="mo-text-muted mo-text-center">
      {{endMsg}}<br>
      {{'receiptPrint.poweredBy' | translate}}<br>
      <span>#{{data.systemReceiptNo}}</span>
    </p>
  </mat-dialog-content>

  <mat-dialog-actions class="mo-justify-end">
    <button mat-button color="default" type="button" (click)="dismiss()">{{'common.close' | translate}}</button>
    <button mat-raised-button color="primary" (click)="print()" type="button">{{'reports.print' | translate}}</button>
  </mat-dialog-actions>

</div>