<h5 mat-dialog-title>{{'navigation.otherRevenue' | translate}}
  @if (data.type=='add') {
    <div class="mo-font-bold mo-text-center">
      <label class="fs-6">{{'common.yourCurrentBranch' | translate}}{{branchName}}</label>
    </div>
  }
</h5>

<form (ngSubmit)="submit(revenueForm)" #revenueForm="ngForm">

  <div mat-dialog-content>

    <mat-form-field appearance="outline" class="mo-w-full">
      <mat-label>{{'accounts.revenueDate' | translate}}</mat-label>
      <input matInput type="datetime-local" [(ngModel)]="revenue.actionDate" name="actionDate" required>
    </mat-form-field>

    <mat-form-field class="mo-w-full" appearance="outline">
      <mat-label>{{'reports.table.amountCash' | translate}}</mat-label>
      <input matInput [(ngModel)]="revenue.price" name="amountCash" (blur)="onInputAmountPaidCash('amountCash',$event)"
        [required]="isCashed" />
      </mat-form-field>

      <mat-form-field class="mo-w-full" appearance="outline">
        <mat-label>{{'reports.table.amountVisa' | translate}}</mat-label>
        <input matInput [(ngModel)]="revenue.amountVisa" name="amountVisa"
          (blur)="onInputAmountPaidCash('amountVisa',$event)" [required]="!isCashed" />
        </mat-form-field>

        @if (revenue.amountVisa>0) {
          <mat-form-field class="mo-w-full" appearance="outline">
            <mat-label>{{'members.visaType' | translate}}</mat-label>
            <mat-select [(ngModel)]="revenue.visaTypeId" name="visaTypeId" required>
              @for (v of visaTypes; track v) {
                <mat-option [value]="v.id">{{v.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }

        <mat-form-field class="mo-w-full" appearance="outline">
          <mat-label>{{'members.incomeType' | translate}}</mat-label>
          <mat-select [(ngModel)]="revenue.incomeTypeId" name="incomeTypeId">
            @for (el of incomeTypes; track el) {
              <mat-option [value]="el.id">{{el.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mo-w-full" appearance="outline">
          <mat-label>{{'reports.table.description' | translate}}</mat-label>
          <textarea matInput [(ngModel)]="revenue.description" name="description" required></textarea>
        </mat-form-field>

      </div>


      <div mat-dialog-actions class="mo-justify-end">
        <button mat-button type="button" (click)="dismiss()">{{'members.cancel' | translate}}</button>
        <button mat-raised-button color="primary" type="submit">
          {{'members.save' | translate}}
        </button>
      </div>

    </form>