
<div matDialogTitle>{{'members.changePW' | translate}}</div>
<div matDialogContent>
  <h6 class="mo-font-bold mo-py-1">
    {{member.nameEng}}
  </h6>
  <mat-form-field appearance="outline" class="mo-w-full">
    <mat-label>{{'members.newPassword' | translate}}</mat-label>
    <input [type]="pwType" [(ngModel)]="password" name="password" matInput>
    <mat-icon matSuffix (click)="toggleType()">{{pwType === 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>

</div>
  <div mat-dialog-actions>
    <button mat-button matDialogClose>Cancel</button>
    <button type="button" (click)="apply()" mat-raised-button color="warn">{{'members.changePW' | translate}}</button>
  </div>