:root {
    --primary-color: #2196f3;
    --error-color: #e90404;
    --warning-color: #ffc107;
    --success-color: #18a018;
    --secondary-color: #464646;
    --black-color: #000;
    --white-color: #FFF;
    --violet-color: #9B25AE;
    --info-color: #0dcaf0;
    --border-color: #00000010;
    --hover-color: #cccccc,
}