<div matDialogTitle>{{'members.changePW' | translate}}</div>
<form>
  <div matDialogContent>
    <h6 class="mo-font-bold mo-py-1">
      {{data.user.englishName}} ({{data.user.arabicName}})
    </h6>

    @if (data.showCurrentPW) {
      <mat-form-field appearance="outline" class="mo-w-full">
        <mat-label>{{'administration.currentPW' | translate}}</mat-label>
        <input [type]="pwType1" [(ngModel)]="currentPassword" name="currentPassword" matInput>
        <mat-icon matSuffix (click)="toggleType(1)">{{pwType1 === 'password' ? 'visibility' :
        'visibility_off'}}</mat-icon>
      </mat-form-field>
    }

    <mat-form-field appearance="outline" class="mo-w-full">
      <mat-label>{{'members.newPassword' | translate}}</mat-label>
      <input [type]="pwType2" [(ngModel)]="password" name="password" matInput>
      <mat-icon matSuffix (click)="toggleType(2)">{{pwType2 === 'password' ? 'visibility' :
      'visibility_off'}}</mat-icon>
    </mat-form-field>

  </div>
  <div mat-dialog-actions class="mo-justify-end">
    <button mat-button matDialogClose>{{'members.cancel' | translate}}</button>
    <button type="button" (click)="apply()" mat-raised-button color="warn">{{'members.changePW' | translate}}</button>
  </div>
</form>