<div class="print-wrapper" [ngStyle]="{'direction': direction}">
  <div mat-dialog-title>
    <div class="mo-flex mo-justify-between">
      <small class="mo-text-muted mo-text-xs">
        {{'receiptPrint.printedBy' | translate}} {{user.userName}}
      </small>
      <small class="mo-text-muted mo-text-xs">
        {{'receiptPrint.createdAt' | translate}} {{today | date:'MMM d, y, h:mm a'}}
      </small>
    </div>
    <div class="img-logo" [ngStyle]="{'background-image': 'url('+ logo +')'}"></div>
    <h5 class="mo-font-bold mo-text-center">{{'receiptPrint.paymentRed' | translate}}</h5>
    <h6 class="mo-font-bold mo-text-center mo-text-info-500">{{'receiptPrint.debtPayment' | translate}}</h6>
  </div>

  <mat-dialog-content>
    @if (receiptFormat === 'SMALL') {
      <ul class="data-list-small">
        <li>
          <label>{{'receiptPrint.memContractNo' | translate }}</label>
          <span>{{data.memberApplicationNo}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.memAccessCode' | translate}}</label>
          <span>{{data.memberCode}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.memName' | translate}}</label>
          <span>{{data.memberName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.memPhone' | translate}}</label>
          <span>{{data.memberPhone}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.packageName' | translate}}</label>
          <span>{{data.periodName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.salesName' | translate}}</label>
          <span>{{data.salesPersonName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.coach' | translate}}</label>
          <span>{{data.coachName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.startDate' | translate}}</label>
          <span>{{data.startDateAsString}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.expDate' | translate}}</label>
          <span>{{data.endDateAsString}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.paid' | translate}}</label>
          <span>{{data.amount}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.paymentDate' | translate}}</label>
          <span>{{data.membershipPaymentDate | date:'mediumDate'}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.paymentMethod' | translate}}</label>
          <span>{{data.isCash ? ('receiptPrint.cash' | translate):('receiptPrint.visa' | translate)}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.remainingAmount' | translate}}</label>
          <span>{{data.remainingAmount}}</span>
        </li>
        <li>
          <label>{{'members.nextDueDate' | translate}}</label>
          <span>{{data.nextDueDate | date:'mediumDate'}}</span>
        </li>
      </ul>
    }


    @if (receiptFormat === 'LARGE') {
      <ul class="data-list-wide">
        <li>
          <label>{{'receiptPrint.memContractNo' | translate }}</label>
          <span>{{data.memberApplicationNo}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.memAccessCode' | translate}}</label>
          <span>{{data.memberCode}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.memName' | translate}}</label>
          <span>{{data.memberName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.memPhone' | translate}}</label>
          <span>{{data.memberPhone}}</span>
        </li>
        <li class="separator"></li>
        <li>
          <label>{{'receiptPrint.packageName' | translate}}</label>
          <span>{{data.periodName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.salesName' | translate}}</label>
          <span>{{data.salesPersonName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.coach' | translate}}</label>
          <span>{{data.coachName}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.startDate' | translate}}</label>
          <span>{{data.startDateAsString}}</span>
        </li>
        <li class="separator"></li>
        <li>
          <label>{{'receiptPrint.expDate' | translate}}</label>
          <span>{{data.endDateAsString}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.paid' | translate}}</label>
          <span>{{data.amount}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.paymentDate' | translate}}</label>
          <span>{{data.membershipPaymentDate | date:'mediumDate'}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.paymentMethod' | translate}}</label>
          <span>{{data.isCash ? ('receiptPrint.cash' | translate):('receiptPrint.visa' | translate)}}</span>
        </li>
        <li>
          <label>{{'receiptPrint.remainingAmount' | translate}}</label>
          <span>{{data.remainingAmount}}</span>
        </li>
        <li>
          <label>{{'members.nextDueDate' | translate}}</label>
          <span>{{data.nextDueDate | date:'mediumDate'}}</span>
        </li>
      </ul>
    }


    <!-- <div>
    <small>

      <p *ngFor="let r of rules" class="white-space-pre-line"><span
      class="mo-font-bold d-block">{{r.title}}</span>{{r.englishDescription}}</p>
    </small>
  </div> -->

  @if (receiptFormat === 'LARGE') {
    <ul class="signature">
      <li>
        {{'receiptPrint.memSign' | translate}}
      </li>
      <li>
        {{'receiptPrint.salesSign' | translate}}
      </li>
    </ul>
  }


  <hr>
    <p class="mo-text-muted mo-text-center">
      {{endMsg}}<br>
      {{'receiptPrint.poweredBy' | translate}}<br>
      <span>#{{data.systemReceiptNo}}</span>
    </p>
  </mat-dialog-content>

  <mat-dialog-actions class="mo-justify-end">
    <button mat-button color="default" type="button" (click)="dismiss()">{{'common.close' | translate}}</button>
    <button mat-raised-button color="primary" (click)="print()" type="button">{{'reports.print' | translate}}</button>
  </mat-dialog-actions>

</div>