<h5 class="mo-font-bold" mat-dialog-title>{{'members.addMember' | translate}}</h5>
<form (ngSubmit)="submit(memberBookForm)" #memberBookForm="ngForm">

  <div mat-dialog-content>

    <app-advanced-search [autoPredict]="true" [config]="config"
    (selectedMember)="getSelectedMember($event)"></app-advanced-search>

    <mat-form-field appearance="outline" class="mo-w-full mo-mt-3">
      <mat-label>{{'members.memberName' | translate}}</mat-label>
      <input matInput [(ngModel)]="bookedMember.memberName" name="memberName" required>
    </mat-form-field>

    @if (memberships.length) {
      <mat-form-field appearance="outline" class="mo-w-full mo-mt-3">
        <mat-label>{{'members.packageName' | translate}}</mat-label>
        <mat-select matInput [(ngModel)]="bookedMember.membershipId" name="membershipId" required>
          @for (m of memberships; track m) {
            <mat-option [value]="m.id">{{m.packageName}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }

  </div>

  <div class="mo-text-end mo-mt-2" mat-dialog-actions>
    <button class="mo-mx-2" (click)="dismiss()" mat-button type="button">{{'members.cancel' | translate}}</button>
    <button mat-raised-button type="submit" color="primary">{{'members.save' | translate}}</button>
  </div>
</form>