<h5 mat-dialog-title class="mo-font-bold mo-my-2">{{'classSchedule.publishClasses' | translate}}</h5>
<form (ngSubmit)="submit(publishForm)" #publishForm="ngForm">

    <div mat-dialog-content>
        <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'reports.table.fromDate' | translate}}</mat-label>
            <input matInput type="datetime-local" [(ngModel)]="fromDate" name="fromDate" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'reports.table.toDate' | translate}}</mat-label>
            <input matInput type="datetime-local" [(ngModel)]="toDate" name="toDate" required>
        </mat-form-field>
    </div>

    <div mat-dialog-actions class="mo-justify-end">
        <button mat-button type="button" (click)="dismiss()">{{'members.cancel' | translate}}</button>
        <button mat-raised-button color="primary" type="submit">
            {{'members.save' | translate}}
        </button>
    </div>
</form>