<div mat-dialog-title class="!mo-mt-3 remove">
  <h5 class="mo-font-bold mo-m-0 mo-flex mo-items-center mo-justify-between">
    <span>{{'classSchedule.roomDetails' | translate}}</span>
    @if (data.type != 'Add') {
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    }
    <mat-menu #menu="matMenu">
      <button mat-menu-item type="button" *appRole="['classSchedule', 'tsb_Remove']"
        (click)="deleteClass()"><mat-icon>delete</mat-icon> {{'classSchedule.deleteClass' | translate}}</button>
      </mat-menu>
    </h5>
  </div>

  <form (ngSubmit)="submit(scheduleForm)" #scheduleForm="ngForm">

    <div mat-dialog-content>

      @if (data.type === 'Add') {
        <div class="mo-mb-3">
          <app-advanced-search [autoPredict]="true" [config]="config"
          (selectedMember)="getSelectedMember($event)"></app-advanced-search>
        </div>
      } @else {
        <p class="mo-mb-3 mo-text-center">
          <span class="mo-text-muted mo-px-2">{{'members.memberName' | translate}}</span>
          <span class="mo-font-bold">{{data.scheduledClass.memberName}}</span>
        </p>
      }

      @if (memberships) {
        <mat-form-field appearance="outline" class="mo-w-full">
          <mat-label>{{'members.membership' | translate}}</mat-label>
          <mat-select [(ngModel)]="selectedClass.membershipId" name="membershipId" required>
            @for (m of memberships; track m) {
              <mat-option [value]="m.id">{{m.packageName}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }

      <mat-form-field appearance="outline" class="mo-w-full">
        <mat-label>{{'classSchedule.startDate' | translate}}</mat-label>
        <input matInput type="datetime-local" [(ngModel)]="selectedClass.startDate" name="startDate" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mo-w-full">
        <mat-label>{{'classSchedule.endDate' | translate}}</mat-label>
        <input matInput type="datetime-local" [(ngModel)]="selectedClass.endDate" name="endDate" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mo-w-full">
        <mat-label>{{'classSchedule.instructor' | translate}}</mat-label>
        <mat-select [(ngModel)]="selectedClass.instructorId" name="instructorId" required>
          @for (ins of instructor$ | async; track ins) {
            <mat-option [value]="ins.id">{{ins.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mo-w-full">
        <mat-label>{{'classSchedule.room' | translate}}</mat-label>
        <mat-select [(ngModel)]="selectedClass.roomId" name="roomId" required>
          @for (r of rooms; track r) {
            <mat-option [value]="r.id">{{r.englishName}} ({{r.arabicName}})</mat-option>
          }
        </mat-select>
      </mat-form-field>

    </div>

    <div mat-dialog-actions class="mo-flex mo-justify-between mo-w-full">
      <div class="mo-ms-auto">
        <button mat-raised-button type="button" (click)="dismiss()">{{'common.close' | translate}}</button>
        @if (data.type === 'Add') {
          <button mat-raised-button type="submit"
          [appRoleAttr]="['classSchedule', 'tsb_Add']" color="primary">{{'members.save' | translate}}</button>
        }
        @if (data.type === 'Save') {
          <button mat-raised-button type="submit"
          [appRoleAttr]="['classSchedule', 'tsb_Save']" color="primary">{{'members.save' | translate}}</button>
        }
      </div>
    </div>

  </form>