<form class="filters-container" [formGroup]="filtersGroup" [dir]="currentLang === 'ar' ? 'rtl': 'ltr'">
  <div class="row">
    @if (!isOnePassService) {
      <div class="col-12">
        <mat-form-field appearance="outline" class="mo-w-full">
          <mat-label>{{'members.contractNo' | translate}}</mat-label>
          <input matInput formControlName="applicationNo" type="text"
            placeholder="{{'members.contractNo' | translate}}" />
          </mat-form-field>
        </div>
      }
      @if (!isOnePassService) {
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'members.accessCode' | translate}}</mat-label>
            <input matInput formControlName="code" type="text" placeholder="{{'members.accessCode' | translate}}" />
          </mat-form-field>
        </div>
      }
      <div class="col-12">
        <mat-form-field appearance="outline" class="mo-w-full">
          <mat-label>{{'members.memberName' | translate}}</mat-label>
          <input matInput formControlName="name" type="text" placeholder="{{'members.memberName' | translate}}" />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="mo-w-full">
          <mat-label>{{'members.phone' | translate}}</mat-label>
          <input matInput formControlName="phoneNo" type="text" placeholder="{{'members.phone' | translate}}" />
        </mat-form-field>
      </div>
      @if (!isOnePassService) {
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'members.nationalId' | translate}}</mat-label>
            <input matInput formControlName="nationalId" type="text" placeholder="{{'members.nationalId' | translate}}" />
          </mat-form-field>
        </div>
      }

      @if (!isOnePassService) {
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full" (click)="birthDateFrom.open()">
            <mat-label>{{isMembershipFilters ? ('reports.table.startDateFrom' | translate) : ('members.birthDateFrom' |
            translate)}}</mat-label>
            <input matInput [matDatepicker]="birthDateFrom" formControlName="BirthDateFrom">
            <mat-datepicker-toggle matIconSuffix [for]="birthDateFrom"></mat-datepicker-toggle>
            <mat-datepicker #birthDateFrom></mat-datepicker>
          </mat-form-field>
        </div>
      }

      @if (!isOnePassService) {
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full" (click)="birthDateTo.open()">
            <mat-label>{{isMembershipFilters ? ('reports.table.startDateTo' | translate) : ('members.birthDateTo' |
            translate)}}</mat-label>
            <input matInput [matDatepicker]="birthDateTo" formControlName="BirthDateTo">
            <mat-datepicker-toggle matIconSuffix [for]="birthDateTo"></mat-datepicker-toggle>
            <mat-datepicker #birthDateTo></mat-datepicker>
          </mat-form-field>
        </div>
      }

      @if (!isOnePassService) {
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'members.gender' | translate}}</mat-label>
            <mat-select formControlName="gender">
              <mat-option [value]="gender.MALE">{{'members.male' | translate}}</mat-option>
              <mat-option [value]="gender.FEMALE">{{'members.female' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      }

      @if (!isOnePassService) {
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full" (click)="lastTransferDateFrom.open()">
            <mat-label>{{'reports.table.lastTransferDateFrom' | translate}} </mat-label>
            <input matInput [matDatepicker]="lastTransferDateFrom" formControlName="lastTransferDateFrom">
            <mat-datepicker-toggle matIconSuffix [for]="lastTransferDateFrom"></mat-datepicker-toggle>
            <mat-datepicker #lastTransferDateFrom></mat-datepicker>
          </mat-form-field>
        </div>
      }

      @if (!isOnePassService) {
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full" (click)="lastTransferDateTo.open()">
            <mat-label>{{'reports.table.lastTransferDateTo' | translate}}</mat-label>
            <input matInput [matDatepicker]="lastTransferDateTo" formControlName="lastTransferDateTo">
            <mat-datepicker-toggle matIconSuffix [for]="lastTransferDateTo"></mat-datepicker-toggle>
            <mat-datepicker #lastTransferDateTo></mat-datepicker>
          </mat-form-field>
        </div>
      }

      @if (!isOnePassService) {
        <div class="col-12">
          <mat-checkbox formControlName="isActive" (change)="getSales()" name="isActive">{{'staff.activeSalesOnly' |
            translate}}
          </mat-checkbox>
        </div>
      }
      @if (!isOnePassService) {
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'members.salesPerson' | translate}}</mat-label>
            <mat-select formControlName="salesPersonId">
              @for (sale of sales; track sale) {
                <mat-option [value]="sale.id">{{sale.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }

      @if (isOnePassService) {
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'reports.table.type' | translate}}</mat-label>
            <mat-select formControlName="typeId">
              @for (type of sessionTypes; track type) {
                <mat-option [value]="type.id">{{type.englishName}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }

      @if (!isMembershipFilters && !isOnePassService) {
        <div class="col-12">
          <mat-checkbox formControlName="photoChangedOnly">{{'members.photoChangedOnly' | translate}}</mat-checkbox>
        </div>
      }
    </div>

    @if (isOnePassService) {
      <div class="col-12">
        <mat-form-field appearance="outline" class="mo-w-full" (click)="paymentDateFrom.open()">
          <mat-label>{{'reports.table.paymentDateFrom' | translate}} </mat-label>
          <input matInput [matDatepicker]="paymentDateFrom" formControlName="paymentDateFrom">
          <mat-datepicker-toggle matIconSuffix [for]="paymentDateFrom"></mat-datepicker-toggle>
          <mat-datepicker #paymentDateFrom></mat-datepicker>
        </mat-form-field>
      </div>
    }

    @if (isOnePassService) {
      <div class="col-12">
        <mat-form-field appearance="outline" class="mo-w-full" (click)="paymentDateTo.open()">
          <mat-label>{{'reports.table.paymentDateTo' | translate}}</mat-label>
          <input matInput [matDatepicker]="paymentDateTo" formControlName="paymentDateTo">
          <mat-datepicker-toggle matIconSuffix [for]="paymentDateTo"></mat-datepicker-toggle>
          <mat-datepicker #paymentDateTo></mat-datepicker>
        </mat-form-field>
      </div>
    }

    @if (isMembershipFilters) {
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'members.packageType' | translate}}</mat-label>
            <mat-select formControlName="packageType" (selectionChange)="onSelectPackageType()">
              @for (type of packagesTypes; track type) {
                <mat-option [value]="type.id">{{type.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'members.package' | translate}}</mat-label>
            <mat-select formControlName="packageId">
              @for (p of packages; track p) {
                <mat-option [value]="p.id">{{p.nameEng}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'members.status' | translate}}</mat-label>
            <mat-select formControlName="status">
              @for (s of statuses; track s) {
                <mat-option [value]="s.id">{{s.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'reports.table.coach' | translate}}</mat-label>
            <mat-select formControlName="coachId">
              @for (c of coaches; track c) {
                <mat-option [value]="c.id">{{c.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    }

    <div class="mo-my-3">
      <button class="mo-font-bold mo-w-full mo-mb-3" (click)="applyFilters()" color="primary" mat-raised-button
      type="button">{{'notifications.apply' | translate}}</button>
      <button class="mo-font-bold mo-w-full" (click)="clearAllFilters()" mat-raised-button
      type="button">{{'members.clearAll' | translate}}</button>
    </div>
  </form>