<h5 mat-dialog-title>{{'navigation.salaries' | translate}}</h5>

<form (ngSubmit)="submit(salariesForm)" #salariesForm="ngForm">

  <div mat-dialog-content>

    <mat-form-field class="mo-w-full" appearance="outline" (click)="salariesPicker.open()">
      <mat-label>{{'reports.table.date' | translate}}</mat-label>
      <input matInput [matDatepicker]="salariesPicker" [(ngModel)]="salaries.actionDate" name="actionDate" required />
      <mat-datepicker-toggle matSuffix [for]="salariesPicker"></mat-datepicker-toggle>
      <mat-datepicker #salariesPicker startView="year"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mo-w-full" appearance="outline">
      <mat-label>{{'staff.staffMember' | translate}}</mat-label>
      <mat-select [(ngModel)]="salaries.staffMemberId" name="staffMemberId" required>
        @for (c of staffMembers; track c) {
          <mat-option [value]="c.id">{{c.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mo-w-full" appearance="outline">
      <mat-label>{{'members.price' | translate}}</mat-label>
      <input matInput [(ngModel)]="salaries.price" name="amountCash" required />
    </mat-form-field>

    <label class="mo-font-bold">{{'receiptPrint.paymentMethod' | translate}}</label>
    <mat-radio-group class="mo-mx-3" [(ngModel)]="salaries.isCash" name="isCash" required>
      <mat-radio-button [value]="true" selected>{{'receiptPrint.cash' | translate}}</mat-radio-button>
      <mat-radio-button [value]="false" selected>{{'receiptPrint.visa' | translate}}</mat-radio-button>
    </mat-radio-group>

    @if (!salaries.isCash) {
      <div>
        <mat-form-field class="mo-w-full" appearance="outline">
          <mat-label>{{'members.visaType' | translate}}</mat-label>
          <mat-select [(ngModel)]="salaries.visaTypeId" name="visaTypeId" required>
            @for (v of visaTypes; track v) {
              <mat-option [value]="v.id">{{v.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    }

    <mat-form-field class="mo-w-full" appearance="outline">
      <mat-label>{{'reports.table.description' | translate}}</mat-label>
      <textarea matInput [(ngModel)]="salaries.description" name="description" required></textarea>
    </mat-form-field>

  </div>


  <div mat-dialog-actions class="mo-justify-end">
    <button mat-button type="button" (click)="dismiss()">{{'members.cancel' | translate}}</button>
    <button mat-raised-button color="primary" type="submit">
      {{'members.save' | translate}}
    </button>
  </div>

</form>