.report-bg {
    background-image: url('../../../../assets/images/daybyday-bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 600px;
  }
  
  .table-responsive {
    background-color: #FFF;
    padding: 20px;
  
    thead {
      background: #2196f3;
      color: #FFF;
      white-space: nowrap;
      font-weight: normal;
    }
  }