<app-loader></app-loader>
<div class="login-wrapper">
  <div class="logo">
    <div class="logo">
      <div class="logo-container" [ngStyle]="{'background-image':'url('+ brand.shortLogo +')'}"></div>
    </div>
  </div>
  <div class="login-form">
    @if (!ifSuccess) {
      <form (ngSubmit)="reset(resetPasswordForm)" #resetPasswordForm="ngForm">
        <h5 class="mo-mb-4">{{'login.resetPassword' | translate}}</h5>
        <mat-form-field appearance="outline" class="mo-w-full">
          <mat-label>{{'members.mainBranch' | translate}}</mat-label>
          <mat-select [(ngModel)]="request.branchId" name="branchId" required>
            @for (el of branches; track el) {
              <mat-option [value]="el.id">
                {{el.branchName}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'login.email' | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="request.email" name="email" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="mo-my-3">
          <mat-label>{{'login.newPW' | translate}}</mat-label>
          <input matInput [type]="pwType1" [(ngModel)]="request.password" name="password" required />
          <mat-icon matSuffix (click)="toggleType(1)">{{pwType1 === 'password' ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'login.repeatPW' | translate}}</mat-label>
          <input matInput [type]="pwType2" [(ngModel)]="repeatedPW" name="repeatedPW" required />
          <mat-icon matSuffix (click)="toggleType(2)">{{pwType2 === 'password' ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <div class="mo-text-end mo-mt-3">
          <button class="btn-block mo-px-5" type="submit" mat-raised-button color="primary">
            {{'login.reset' | translate}}
          </button>
        </div>
      </form>
    }

    @if (ifSuccess) {
      <div class="success-message">
        <mat-icon>check_circle_outline</mat-icon>
        <h3>{{'login.passwordChanged' | translate}}</h3>
        <p>
          {{'login.resetSuccessMsg'|translate}}
        </p>
      </div>
    }

    <div class="mos-logo">
      <img src="assets/images/mos-logo-white-bg.png" alt="">
    </div>
  </div>
</div>