.coccoc-alo-ph-circle {
  width: 160px;
  height: 160px;
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: .1;
  animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all .5s;
}

.coccoc-alo-phone {
  background-color: transparent;
  width: 160px;
  height: 160px;
  cursor: pointer;
  z-index: 200000 !important;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: visibility .5s;
  right: 150px;
  top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.5);
  opacity: .75 !important;
}

.coccoc-alo-ph-circle-fill {
  width: 100px;
  height: 100px;
  top: 30px;
  left: 30px;
  position: absolute;
  background-color: #000;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .1;
  animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all .5s;
}

.coccoc-alo-ph-img-circle {
  width: 60px;
  height: 60px;
  top: 50px;
  left: 50px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  .material-icons{
    color: #FFF;
    font-size: 55px;
  }
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
  background-color: #00aff2;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
  border-color: #00aff2;
  opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
  border-color: #75eb50;
  opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
  background-color: rgba(117, 235, 80, 0.5);
  opacity: .75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
  background-color: #75eb50;
}

@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(.5) skew(1deg);
    opacity: .1
  }

  30% {
    transform: rotate(0) scale(.7) skew(1deg);
    opacity: .5
  }

  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: .1
  }
}

@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2
  }

  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: .2
  }

  100% {
    transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2
  }
}

@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }

  20% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }

  30% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }

  40% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }

  50% {
    transform: rotate(0) scale(1) skew(1deg)
  }

  100% {
    transform: rotate(0) scale(1) skew(1deg)
  }
}
