<h5 mat-dialog-title class="mo-font-bold mo-my-2">{{'members.callDetails' | translate}}</h5>
<form (ngSubmit)="addCall(callForm)" #callForm="ngForm">

  <div mat-dialog-content>
    @if (data.showSearch) {
      <div class="mo-mb-2">
        <app-advanced-search [autoPredict]="true" [config]="config"
        (selectedMember)="getSelectedMember($event)"></app-advanced-search>
      </div>
    }

    <div class="main-section">
      <mat-form-field appearance="outline">
        <mat-label>{{'members.contractNo' | translate}}</mat-label>
        <input matInput disabled [(ngModel)]="data.memberData.applicationNo" name="contractNo" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'members.accessCode' | translate}}</mat-label>
        <input matInput disabled [(ngModel)]="data.memberData.code" name="accessCode" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'members.phone' | translate}}</mat-label>
        <input matInput disabled [(ngModel)]="data.memberData.phoneNo" name="phoneNo" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'members.memberName' | translate}}</mat-label>
        <input matInput disabled [(ngModel)]="data.memberData.nameEng" name="userName" required />
      </mat-form-field>
    </div>
    <hr>


      <div class="row">

        <div class="col-md-6 col-12" *appRole="['calls', 'dtp_Date']">
          <mat-form-field class="mo-w-full" (click)="callDatepicker.open()" appearance="outline">
            <mat-label>{{'members.callDateTime' | translate}}</mat-label>
            <input matInput [matDatepicker]="callDatepicker" [min]="data.type === 'addCall' ? minDate : null"
              [(ngModel)]="call.callDate" name="callDate" required />
              <mat-datepicker-toggle matSuffix [for]="callDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #callDatepicker></mat-datepicker>
            </mat-form-field>
          </div>

          @if (call.callDate) {
            <div class="col-md-6 col-12" [appRoleAttr]="['calls', 'dtp_Date']">
              <ngx-timepicker-field [defaultTime]="currentTime"
              (timeChanged)="getTime($event, 'call')"></ngx-timepicker-field>
            </div>
          }

          <div class="col-12">
            <mat-form-field class="mo-w-full" appearance="outline">
              <mat-label>{{'members.feedback' | translate}}</mat-label>
              <mat-select (selectionChange)="onChange($event)" [(ngModel)]="call.feedbackId" name="feedbackId" required>
                @for (el of feedBack; track el) {
                  <mat-option [value]="el.id">{{el.nameEng}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-12" [hidden]="!showFollowUpDate">
            <mat-form-field class="mo-w-full" appearance="outline" (click)="followUpPicker.open()">
              <mat-label>{{'members.followDateTime' | translate}}</mat-label>
              <input matInput [matDatepicker]="followUpPicker" [min]="call.callDate" [(ngModel)]="call.followUpDate"
                name="followup" [required]="showFollowUpDate" />
                <mat-datepicker-toggle matSuffix [for]="followUpPicker"></mat-datepicker-toggle>
                <mat-datepicker #followUpPicker></mat-datepicker>
              </mat-form-field>
            </div>

            @if (call.followUpDate) {
              <div class="col-md-6 col-12">
                <ngx-timepicker-field [defaultTime]="currentFollowUpTime" (timeChanged)="getTime($event, 'followup')">
                </ngx-timepicker-field>
              </div>
            }

            <div class="col-12">
              <mat-form-field class="mo-w-full" appearance="outline">
                <mat-label>{{'members.summary' | translate}}</mat-label>
                <textarea matInput [(ngModel)]="call.summary" name="summary" [required]="isSummaryMandatory"></textarea>
              </mat-form-field>
            </div>

            @if (data.memberData.id) {
              <div class="col-12 mo-flex">
                <label class="mo-font-bold mo-px-2 cursor-pointer" (click)="isHighPotential()">
                {{'members.highPotential' | translate}} </label>
                <div class="cursor-pointer" mat-icon-button matTooltip="High Potential" color="default" (click)="isHighPotential()">
                  @if (!data.memberData.isHighPotential) {
                    <mat-icon class="mo-m-0">star_border</mat-icon>
                  }
                  @if (data.memberData.isHighPotential) {
                    <mat-icon class="mo-m-0 mo-text-warning-500">star</mat-icon>
                  }
                </div>
              </div>
            }

          </div>
        </div>

        <div mat-dialog-actions class="mo-justify-end">
          <button mat-button type="button" (click)="dismiss()">{{'members.cancel' | translate}}</button>
          @if (data.type === 'addCall') {
            <button mat-raised-button color="primary" type="submit">
              {{'members.save' | translate}}
            </button>
          }
          @if (data.type === 'editCall') {
            <button mat-raised-button color="primary" (click)="editCall(callForm)"
              type="button">
              {{'members.save' | translate}}
            </button>
          }
        </div>
      </form>