<form class="filters-container" #staffFiltersForm="ngForm" [dir]="currentLang === 'ar' ? 'rtl': 'ltr'">
  <div class="row">

    @if (filters.isInstructor) {
      <div class="col-12">
        <mat-form-field appearance="outline" class="mo-w-full">
          <mat-label>{{'administration.id' | translate}}</mat-label>
          <input matInput [(ngModel)]="filters.id" name="id" type="text"
            placeholder="{{'administration.id' | translate}}" />
          </mat-form-field>
        </div>
      }

      <div class="col-12">
        <mat-form-field appearance="outline" class="mo-w-full">
          <mat-label>{{'staff.code' | translate}}</mat-label>
          <input matInput [(ngModel)]="filters.code" name="code" type="text" placeholder="{{'staff.code' | translate}}" />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="mo-w-full">
          <mat-label>{{'members.phone' | translate}}</mat-label>
          <input matInput [(ngModel)]="filters.phone" name="phoneNo" type="text"
            placeholder="{{'members.phone' | translate}}" />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'staff.name' | translate}}</mat-label>
            <input matInput [(ngModel)]="filters.name" name="name" type="text" placeholder="{{'staff.name' | translate}}" />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="mo-w-full">
            <mat-label>{{'members.nationalId' | translate}}</mat-label>
            <input matInput [(ngModel)]="filters.nationalId" name="nationalId" type="text"
              placeholder="{{'members.nationalId' | translate}}" />
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="outline" class="mo-w-full">
              <mat-label>{{'members.jobTitle' | translate}}</mat-label>
              <mat-select [(ngModel)]="filters.jobTitleId" name="jobTitleId">
                @for (j of jobTitles; track j) {
                  <mat-option [value]="j.id">{{j.nameAR + ' - ' + j.nameENG}} </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-checkbox [(ngModel)]="filters.isActive" name="isActive">{{'staff.isActive' | translate}}
            </mat-checkbox>
          </div>

        </div>

        <div class="mo-my-3">
          <button class="mo-font-bold mo-w-full mo-mb-2" (click)="onFilter.emit()" mat-raised-button color="primary"
          type="button">{{'members.search' | translate}}</button>
          <button class="mo-font-bold mo-w-full" (click)="staffFiltersForm.reset();onFilter.emit()" mat-button
          type="button">{{'members.clearAll' | translate}}</button>
        </div>
      </form>
