<div class="container h-100">
  <div class="row mo-items-center h-100">
    <div class="offset-md-3 col-md-6 col-12">
        <div class="row">
            <div class="col-md-3">
                <img alt="#" src="assets/images/404.png" />
              </div>
        
              <div class="col-md-9 mo-px-5">
                <h1 class="mo-text-error-500" style="font-size: 60px;">404</h1>
                <h3>{{'common.notFoundTitle' | translate}}</h3>
                <p>{{'common.notFoundDesc' | translate}}</p>
                <div>
                  <a routerLink="/admin" type="button" mat-raised-button color="primary">
                    {{'common.homeBtn' | translate}}
                  </a>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>
