<mat-drawer-container class="example-container" autosize>
  <div class="page-title">
    <div [ngClass]="{'mo-mt-3': pageID === 'MEMBER'}">
      <h4 class="mo-font-bold mo-m-0">
        {{'navigation.memberNotifications' | translate}}
      </h4>
      @if (pageID === 'NOTIFICATION') {
        <button mat-button color="primary"
          routerLink="/admin/management/member-notifications">
          <mat-icon>keyboard_arrow_left</mat-icon><small>{{'notifications.backToNotifications' |
        translate}}</small>
      </button>
    }
  </div>

  @if (pageID === 'MEMBER') {
    <div class="actions mo-mt-3">
      <button mat-raised-button color="primary" (click)="addNotification()">{{'notifications.addNotification' |
      translate}}</button>
    </div>
  }

  @if (pageID != 'MEMBER') {
    <div class="actions">
      <button *appRole="['memberNotification','SetupMultipleNotifications']"
        routerLink="/admin/management/member-notifications/setup-notification" color="primary" mat-raised-button>
        <mat-icon>notification_add</mat-icon> {{'management.setUpNewNotification' | translate}}
      </button>
      <button class="mo-mx-2" (click)="drawer.toggle()" mat-raised-button color="default">
        <mat-icon>{{drawer.opened ? 'filter_alt_off' : 'filter_alt'}}</mat-icon>
        {{drawer.opened ? ('members.hide' | translate) : ('members.show' | translate)}}
        {{'members.filters' | translate}}
      </button>
    </div>
  }
</div>

<mat-drawer #drawer [mode]="width < 600 ? 'over':'side'" [dir]="'ltr'" [position]="'end'">
  <div class="filters-drawer">
    <div class="inner">
      <h4 class="mo-font-bold"> {{'members.filters' | translate}}</h4>
      <app-member-notifications-filters [filters]="filters" [pageID]="pageID" (onFilterChange)="applyFilter()">
      </app-member-notifications-filters>
    </div>
  </div>
</mat-drawer>

<div [ngClass]="{'drawer-opened': drawer.opened}">
  <div class="table-responsive card p-3">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'members.creationDate' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{ row.creationDate | date:'MMM d, y, h:mm a' }}</td>
      </ng-container>

      <ng-container matColumnDef="contractNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'members.contractNo' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{ row.contractNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'members.phone' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{ row.phoneNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="athleticName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'members.memberName' | translate}}</th>
        <td mat-cell *matCellDef="let row">
          <div class="mo-flex">
            <a class="view-profile-btn mo-my-1 mo-py-1" routerLink="/admin/member-profile/{{row.memberId}}" mat-button
              color="primary">
              <small>{{ row.athleticName }}</small>
            </a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="reasonName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'members.reason' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{ row.reasonName }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'notifications.title' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{ row.title }}</td>
      </ng-container>

      <ng-container matColumnDef="notificationMessage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'notifications.notificationMessage' |
          translate}}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.notificationMessage }}</td>
      </ng-container>

      <ng-container matColumnDef="totalMembers">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'notifications.totalMembers' | translate}}
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="mo-flex mo-items-center">
            <strong>{{ row.totalMembers }}</strong>
            <button [routerLink]="['/admin/management/member-notifications/notification/', row.id]" mat-button
              color="primary"><small>{{'notifications.viewMembers' |
            translate}}</small></button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="notificationType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'classSchedule.notificationType' |
        translate}}</th>
        <td mat-cell *matCellDef="let row">
          <div class="mo-flex align-items center">
            @if (row.isSMS) {
              <mat-icon [matTooltip]="'classSchedule.sms' | translate" class="mo-me-2"
              >textsms</mat-icon>
            }
            @if (row.isWhatsApp) {
              <ico-whatsapp [matTooltip]="'classSchedule.whatsapp' | translate" class="mo-me-2"
              ></ico-whatsapp>
            }
            @if (row.isMobileApp) {
              <mat-icon [matTooltip]="'classSchedule.mobileApp' | translate"
              >phone_iphone</mat-icon>
            }
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="isSMSSent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'classSchedule.sms' | translate}}</th>
        <td mat-cell *matCellDef="let row">
          @if (row.isSMSSent) {
            <mat-icon class="text-success" [matTooltip]="'notifications.sent' | translate"
            >check_circle_outline</mat-icon>
          }
          @if (!row.isSMSSent && row.isSMS) {
            <mat-icon class="mo-text-error-500" [matTooltip]="'notifications.notSent' | translate"
            >remove_circle_outline</mat-icon>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="isMobileAppSent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'classSchedule.mobileApp' | translate}}</th>
        <td mat-cell *matCellDef="let row">
          @if (row.isMobileAppSent) {
            <mat-icon class="text-success" [matTooltip]="'notifications.sent' | translate"
            >check_circle_outline</mat-icon>
          }
          @if (!row.isMobileAppSent && row.isMobileApp) {
            <mat-icon class="mo-text-error-500" [matTooltip]="'notifications.notSent' | translate"
            >remove_circle_outline</mat-icon>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="isWhatsAppSent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'classSchedule.whatsapp' | translate}}</th>
        <td mat-cell *matCellDef="let row">
          @if (row.isWhatsAppSent) {
            <mat-icon class="text-success" [matTooltip]="'notifications.sent' | translate"
            >check_circle_outline</mat-icon>
          }
          @if (!row.isWhatsAppSent && row.isWhatsApp) {
            <mat-icon class="mo-text-error-500" [matTooltip]="'notifications.notSent' | translate"
            >remove_circle_outline</mat-icon>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="response">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.info' | translate}}</th>
        <td mat-cell *matCellDef="let row">
          @if (row.response) {
            <button mat-icon-button
              (click)="showResponse(row)"><mat-icon>info_outline</mat-icon></button>
            }
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9">{{'members.noData' | translate}}</td>
        </tr>
      </table>

      <mat-paginator (page)="onPaginationChange($event)" [pageSize]="filters.takeCount" [pageIndex]="page"
        [length]="totalElements" [pageSizeOptions]="[10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</mat-drawer-container>

<ng-template #responseModal>
  <h6 mat-dialog-title class="mo-font-bold">{{'common.info' | translate}}</h6>
  <div mat-dialog-content>
    <div [innerHTML]="response" class="white-space-pre-line"></div>
  </div>
</ng-template>